#main-container{
	margin: 61px auto;
	width: 600px;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #4682B4;
	border-bottom: solid 5px #00008B;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #6495ED;
	color: white;
}


@media only screen and (max-width: 766px) {
	#main-container{
		margin: 61px auto;
		width: 400px;
	}
}